/*

********

App Styles

********

*/


.App{
  margin-top: 50px;
}




/*

********

TodoAdd Styles

********

*/

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;

  line-height: 1.428571429;
  border-radius: 50% !important;
}
.btn-circle i{
  font-size: 2em;
}

.addBtn{
  width: 60px;
  height: 60px;
  margin-left: -40px !important;
    margin-top: -5px;
}
.addForm{
  border-radius: 100px !important;
  padding-left: 25px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.addForm:focus{
  z-index: 0 !important;
}




/*

********

Todo Styles

********

*/
.Todo ul{
  margin-top: 50px;
  padding-left: 0;
}

.todoItem{
  list-style: none;
  width: 100%;
  background-color: #eee;
  border-radius: 100px;
}
.todoName{
  display: inline-block;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;

}
.todoItem span{
  line-height: 50px;
  padding-left: 20px;
  padding-right: 50px;
  overflow-x: hidden;
}

/*

********

TodoModal Styles

********

*/
.todoModal{
  z-index: 9999;
  width: 75%;
  background-color: white;
  margin-top: 10%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-container{
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
}
.modal-background{
  background-color: RGBA(119, 185, 200, 0.5);
  width: 100% !important;
  height: 100% !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.modalText{
  word-break: break-all
}
.btn-activate{
  margin-top: -55px;
}
