/*

********

App Styles

********

*/


.App{
  margin-top: 50px;
}




/*

********

TodoAdd Styles

********

*/

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50% !important;
}
.btn-circle i{
  font-size: 2em;
}

.addBtn{
  margin-left: -40px !important;
}
.addForm{
  border-radius: 100px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.addForm:focus{
  z-index: 0 !important;
}




/*

********

Todo Styles

********

*/
.Todo ul{
  margin-top: 50px;
  padding-left: 0;
}

.todoItem{
  list-style: none;
  width: 100%;
  text-align: center;
  background-color: #eee;
  border-radius: 100px;
  margin-bottom: 10px;
}
.todoItem span{
  line-height: 50px;
}
